@import url(http://fonts.googleapis.com/css?family=Questrial|Muli:400,400italic,300italic,300);

* {
	margin:0;
	padding:0;
}

body{
	font-family: 'Muli', sans-serif;
}

header{
	background-color: #04216D;
	width: 100%;
	height: 55px;
	box-shadow: 0px 5px 5px #888888;
	top:0;
	position: absolute;
}

header img{
	float: left;
	vertical-align: middle;
	margin-top: 5px;
}

header ul{
	float: right;
	vertical-align: middle;
	margin-top: 15px;
}

header ul li{
	display: inline-block;
	list-style: none;
	margin-left: 25px;
}

header ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 12px;
}

header ul li a:hover{
	color: #fff;
	text-decoration: underline;
	font-size: 12px;
}

body{ margin:0; padding: 0;}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  max-width: 1150px;
  padding: 0 10px;
}

.wrapper:after {
  clear: both;
  content: " ";
  display: table;
}

.left{ float: left; }
.right{ float:right;}
.space{ margin: 40px 0;}

h1, h2, h3, h4{ 
	font-weight: 300;
	margin-bottom: 30px;
}

h2{
	font-size: 28px;
	color:#86B7F9;
}

h1{
	color: #4E5697;
	font-size: 34px;
}

h2.blue{ color: #3374D8; }

p{
	font-size: 18px;
	letter-spacing: 0.5;
	font-weight: 300;
}


#bg-image{
	margin-top: 80px;
	width: 100%;
	height: 600px;
	background: url("images/bg-intro.jpg") no-repeat;
	background-position: center top;
	background-size: cover;
}

#sobre{ padding: 30px 0; }
#sobre p{ color: #999; }
#sobre .left,
#sobre .right{ width: 50%; }
#sobre .right{ text-align: right;}

#o-que-e { 
	background: #001a3d; 
	padding-top: 20px;
	color: #fff;
}
#o-que-e img{
	position: absolute;
	margin-left: -170px;
	display: block;
}
#o-que-e .text {
	position: relative;
	width: 70%;
	float:right;
	padding-top: 10px;
	padding-bottom: 30px;
}

#o-que-e a {
	font-size: 28px;
	color: #3db3fd;
	font-weight: 300;
	text-decoration: none;
}
#o-que-e a:hover{ text-decoration: underline;}
#o-que-e a:before{ 
	height: 29px;
	width: 19px;
	display: inline-block;
	vertical-align: middle;
	content: " ";
	margin-right: 15px;
	background: url("images/before.png") no-repeat;
	background-position: center center;
}

#como-agregamos-valor{ 
	padding-top: 20px;
	padding-bottom: 40px; 
	color: #fff;
	background: url("images/bg-section.png") no-repeat #000;
	background-position: 160% center;
}
#como-agregamos-valor h2, 
#como-agregamos-valor h1{ color: #fff;}
#como-agregamos-valor p { width: 65%;}
#como-agregamos-valor span {
	font-size: 18px;
	margin-right: 70px;
	margin-bottom: 30px;
}

#fip{
	padding: 20px 0;
	width: 100%;
	background: url("images/bg-fip.jpg") no-repeat #E1E1E1;
	background-position: center top;
	background-size: cover;
}

#fip h1,
#criatex h1{ color: #0C2673;}
#fip p{ width: 74%;}
p.small{ font-size: 14px;}
a.call-button{
	width:390px;
	height:100px;
	background: url("images/call-action-button.png") no-repeat; 
	display: block;
	margin: 40px 0 0 0;
	font-size: 28px;
	color: #fff;
	text-decoration: none;
	padding: 30px 0 30px 160px;
}

a.call-button:hover{ opacity: 0.6;}

#fip span{ 
	margin: 30px 40px 0 0;
}

#criatec {
	padding: 70px 0;
}

#criatec .left{ 
	width: 30%; 
	float: none; 
	display: inline-block; }
#criatec .right{ 
	width: 65%; 
}

#criatec span{
	margin-bottom: 40px;
	margin-right: 60px;
}
#criatec span.last{ margin-right: 0; }
#criatec span.less{ margin-right: 40px; }

#o-que-buscamos {
	background: #011423;
	padding: 20px 0;
	color: #fff;
}

#o-que-buscamos h2{ width: 65%; }
#o-que-buscamos ul { width: 50%; }
#o-que-buscamos ul li { 
	margin: 20px;
	font-size: 18px;
}

#call-action{
	padding: 20px 0 0 0;
	background: url("images/bg-ca.png") repeat;
}

#call-action h1{ color: #3695f3;}

a.call-button2{
	width:490px;
	height:100px;
	background: url("images/call-action-button2.png") no-repeat; 
	display: block;
	margin: 40px 0 0 0;
	font-size: 28px;
	color: #fff;
	text-decoration: none;
	padding: 30px 0 20px 160px;
}

a.call-button2:hover{ opacity: 0.6;}

#investidores{ padding: 20px 0;}
#investidores .left{ width: 47%;}
#investidores .wrapper{
	background: url("images/investidores.png") no-repeat;
	background-position: right top;
	background-size: auto 100%;
} 

#investidores p{ margin-bottom: 20px;}


