<footer>
  <div class="wrapper">
    <span class="small">
       <strong>R. Helena, 309, 10 andar. Vila Olimpia - São Paulo / SP</strong><br>
      (11) 2594-8774
    </span>
    <ul class="main-nav">
      <li><a href="#quem-somos">Quem somos</a></li>
      <li><a href="#portfolio">Portfólio</a></li>
      <li><a href="#historico">Histórico</a></li>
      <li><a href="#empreendedor">Empreendedor</a></li>
      <li><a href="#investidores">Investidor</a></li>
    </ul>
  </div>
</footer>
<script type="text/javascript">
  $(".main-nav a").click(function(evn){
      evn.preventDefault();
      $('html,body').scrollTo(this.hash, this.hash);
  });
  
  if(document.body.offsetWidth >= 686) {
    $(window).on("scroll touchmove", function() {
      $('header.default').toggleClass('tiny', $(document).scrollTop() > 0);
    });
  }
  
  $("#menu-trigger").click(function(){
    $('.main-nav').toggle();
  });
  
  jQuery(function($){
    $( '.menu-btn' ).click(function(){
     $('.responsive-menu').addClass('expand')
    })
  
   $( '.help-close' ).click(function(){
     $('.responsive-menu').removeClass('expand')
     $('.menu-btn').removeClass('btn-none')
   })
  })  
  
</script>
