<footer>
  <div class="wrapper">
    <span class="small">
       <strong>Avenida Brigadeiro Faria Lima, 1485, 18° andar. Pinheiros - São Paulo / SP</strong><br>
      (11) 2594-8774
    </span>
    <ul class="main-nav">
      <li><a href="#quem-somos">Quem somos</a></li>
      <li><a href="#portfolio">Portfólio</a></li>
      <li><a href="#historico">Histórico</a></li>
      <li><a href="#empreendedor">Empreendedor</a></li>
      <li><a href="#investidores">Investidor</a></li>
    </ul>
  </div>
</footer>

<script type="text/javascript">

  $(document).ready(function(){
    $('.bxslider').bxSlider();
  });

  $(".main-nav a").click(function(evn){
    evn.preventDefault();
    $('html,body').scrollTo(this.hash, this.hash);
  });

  if(document.body.offsetWidth >= 800) {
    $(window).on("scroll touchmove", function() {
      $('header.default').toggleClass('tiny', $(document).scrollTop() > 0);
    });
  }

  if(document.body.offsetWidth <= 800) {
    $(".main-nav a").click(function(){
      $('.main-nav').hide();
    });
  }

  $("#menu-trigger").click(function(){
    $('.main-nav').toggle();
  });

  jQuery(function($){
    $( '.menu-btn' ).click(function(){
     $('.responsive-menu').addClass('expand')
    })

   $( '.help-close' ).click(function(){
     $('.responsive-menu').removeClass('expand')
     $('.menu-btn').removeClass('btn-none')
   })
  })

  $('.bwWrapper').BlackAndWhite({
      hoverEffect : true, // default true
      // set the path to BnWWorker.js for a superfast implementation
      webworkerPath : false,
      // to invert the hover effect
      invertHoverEffect: false,
      // this option works only on the modern browsers ( on IE lower than 9 it remains always 1)
      intensity:1,
      speed: { //this property could also be just speed: value for both fadeIn and fadeOut
          fadeIn: 100, // 200ms for fadeIn animations
          fadeOut: 500 // 800ms for fadeOut animations
      },
      onImageReady:function(img) {
          // this callback gets executed anytime an image is converted
      }
  });

</script>
