<footer>
  <div class="wrapper">
    <div class="right">
      <span class="small">
         R. Helena, 309, 10 andar. Vila Olimpia - São Paulo / SP
        <br/>
        (11) 2594-8774
      </span>
    </div>
    <div class="left">  
      <ul>
        <li>
          <a href="#quem-somos">Quem somos</a>
        </li>
        <li>
          <a href="#portfolio">Portfolio</a>
        </li>
        <li>
          <a href="#historico">Histórico</a>
        </li>
        <li>
          <a href="#empreendedor">Empreendedor</a>
        </li>
        <li>
          <a href="#investidores">Investidor</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
