<header class="default">
  <div class="wrapper">

    <a href="/spventures/" class="logo">
      <img src="/spventures/images/logo2.png">
    </a>

    <ul class="main-nav">
      <li><a href="#quem-somos">Quem somos</a></li>
      <li><a href="#portfolio">Portfólio</a></li>
      <li><a href="#historico">Histórico</a></li>
      <li><a href="#empreendedor">Empreendedor</a></li>
      <li><a href="#investidores">Investidor</a></li>
    </ul>
    
    <a href="/spventures/" class="back-link">
      « voltar para home
    </a>

    <div id="menu-trigger">☰</div>

  </div>
</header>
