<header>
  <div class="wrapper">
    <a href="/" class="logo">
      <img src="images/logo.png" />
    </a>
    <ul class="original">
      <li>
        <a href="#sobre">Quem somos</a>
      </li>
      <li>
        <a href="#o-que-e">Portfolio</a>
      </li>
      <li>
        <a href="#criatec">Histórico</a>
      </li>
      <li>
        <a href="#o-que-buscamos">Empreendedor</a>
      </li>
      <li>
        <a href="#investidores">Investidor</a>
      </li>
    </ul>
    <div id="nav-responsive">
      <div class="mobile-nav">
           <div class="menu-btn" id="menu-btn">
      <div></div>
      <span></span>
      <span></span>
      <span></span>
           </div>
       
           <div class="responsive-menu">
              <ul>
                 <li><a class="help-close" href="#sobre">Quem somos</a></li>
                 <li><a class="help-close" href="#o-que-e">Portfolio</a></li>
                 <li><a class="help-close" href="#criatec">Histórico</a></li>
                 <li><a class="help-close" href="#o-que-buscamos">Empreendedor</a></li>
                 <li><a class="help-close" href="#investidores">Investidor</a></li>
              </ul>
           </div>
      </div>
    </div>
  </div> 
</header>
