<header>
  <div class="wrapper">
    <a href="/" class="logo">
      <img src="images/logo.png" />
    </a>
    <ul class="original">
      <li>
        <a href="#quem-somos">Quem somos</a>
      </li>
      <li>
        <a href="#portfolio">Portfolio</a>
      </li>
      <li>
        <a href="#historico">Histórico</a>
      </li>
      <li>
        <a href="#empreendedor">Empreendedor</a>
      </li>
      <li>
        <a href="#investidores">Investidor</a>
      </li>
    </ul>
    <div id="nav-responsive">
      <div class="mobile-nav">
           <div class="menu-btn" id="menu-btn">
      <div></div>
      <span></span>
      <span></span>
      <span></span>
           </div>
           <div class="responsive-menu">
              <ul>
                 <li><a class="help-close" href="#quem-somos">Quem somos</a></li>
                 <li><a class="help-close" href="#portfolio">Portfolio</a></li>
                 <li><a class="help-close" href="#historico">Histórico</a></li>
                 <li><a class="help-close" href="#empreendedor">Empreendedor</a></li>
                 <li><a class="help-close" href="#investidores">Investidor</a></li>
              </ul>
           </div>
      </div>
    </div>
  </div> 
</header>
