/**
 * Site header
 */
header, footer{
  .wrapper{ padding: 0 10px; }
}

.logo{ float:left;}
header {
  border-top: 5px solid $blue;
  border-bottom: 2px solid $blue;
  min-height: 40px;
  padding: 20px 0;

  // Positioning context for the mobile navigation icon
  position: relative;
  ul.original{ float: right; }

  ul.original li {
    display: inline-block;
    margin-top: 10px;
    &:after{
      content: "|";
      margin: 0 6px;
    }
    &:last-child:after{ display: none;}
    a{
      text-transform: uppercase;
      color: $menu-color;
      &:hover{ 
        color: $gold;
        text-decoration: none;
        border-bottom: 2px solid $gold;
      }
    }
  }
}

.left, 
.right{
  width: 46%;
  display: block;
}
.right{ float:right; }
.left{ float:left; }

#portfolio, 
#call-action {
  background-color: $blue;
  h1, h2, h3, p { color: #fff;}
}
#quem-somos .right{
  min-width: 375px;
}
#historico{ 
  background-color: $light-gray; 
  .left { width: 25%;}
  .right { width: 65%;}

}
#call-action{
  text-align: center;
  padding-bottom: 40px;
  h1{
    margin-bottom: 40px;
  }
  a{
    font-size: 30px;
    color: #fff;
    background-color: $gold;
    border: 0;
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 10px 0px 0px #847c44;
    &:hover{ 
      background-color: #847c44;
      text-decoration:none;
    }
  }
}

.big-image{
  height: 550px;
  display: block;
  background: url("../images/bg-slider2.jpg") no-repeat;
  background-position: center center;
  background-size: 100% auto;
}
.info-box{
  position: absolute;
  margin-left: 70px;
  max-width: 200px;
  margin-top: 80px;
  background-color: rgba(202,168,51,0.8);
  padding: 15px;
  color: #fff;
  display: none;
}

.criatec-logos .info-box {
  margin-top: -60px;
  margin-left: 90px;
}

#t1:hover,
#t2:hover,
#t3:hover,
#t4:hover,
.criatec-logos span:hover{
  .info-box{ display: block; }
}
ul.team li{ 
  margin: 10px 8px;
  display: inline-block;
}

ul#list-item li {
  list-style: square;
  margin: 0 0 15px 15px
}

footer{
  background-color: $blue;
  color: #fff;
  padding: 10px 5px;
  a{
    color: #fff;
    text-transform: uppercase;
    &:hover{
      color: $gold;
      border-bottom: 2px solid $gold;
      text-decoration: none;
    }
  }
  .right{
    text-align: right;
  }
  ul li{
    margin-bottom: 10px;
    display: inline-block;
    &:after{
      content: "|";
      margin: 0 1px;
    }
    &:last-child:after{ display: none;}
  }
}

.small{ font-size: 12px; }

.mobile-nav{
  float: right;
}

.menu-btn div {
  position: absolute;
  right: 100%;
  top: 64%;
  padding-right: 8px;
  margin-top: -0.50em;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 200;
  vertical-align: middle;
  z-index: 99;
}
 
.menu-btn span {
  display: block;
  width: 19px;
  height: 3px;
  margin: 4px 0;
  background: rgb(0,0,0);
  z-index: 99;
}
 
.responsive-menu{
  display: none;
}
 
.expand {
  display: block !important;
  position: absolute;
  right: 50px;
  ul li{
    background: #fff;
    padding: 10px 15px;
    text-transform: uppercase;
    border: 1px solid #fafafa;
    a{
      text-transform: uppercase;
      color: $menu-color;
      &:hover{ 
        color: $gold;
        text-decoration: none;
        border-bottom: 2px solid $gold;
      }
    }
  }
}


.mobile-nav { display: none;}

.criatec-logos span{ 
  display: inline-block;
  margin: 10px 10px;
}

