/**
 * Site header
 */

// Header

#menu-trigger {
  display: none;
}

header.default {
  width: 100%;
  height: 70px;
  background: #fff;
  border-top: 5px solid $blue;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  
  .logo {
    margin-top: 12px;
    float: left;
  }

  .main-nav {
    margin-top: 23px;
  }
}

.main-nav {
  float: right;

  li {
    display: inline-block;
    font-size: 12px;

    &:after {
      content: "|";
      margin: 0 10px;
      opacity: .2;
    }

    &:last-child:after {
      display: none;
    }

    a {
      text-transform: uppercase;
      color: $menu-color;
      font-weight: bold;

      &:hover { 
        color: $gold;
        text-decoration: none;
      }
    } // a
  }
}

header.default.tiny {
  height: 40px;
  opacity: .7;
  
  .logo {
    width: 100px;
    margin-top: 7px;
  }

  ul {
    margin-top: 8px;
  }
  
  &:hover {
    opacity: 1;
  }
}


// Slider

.big-image {
  height: 550px;
  padding-top: 80px;
  background: url("../images/bg-slider2.jpg") center center no-repeat;
  background-size: 100% auto;
}


// Content

.left, 
.right {
  width: 46%;
  display: block;
}

.right {
  float: right;
}

.left {
  float: left;
}

#quem-somos,
#portfolio,
#historico,
#empreendedor,
#call-action,
#investidores {
  padding: 40px 0;
}

#portfolio, 
#call-action {
  background-color: $blue;
  
  h1, h2, h3, p {
    color: #fff;
  }
}


// Historico

#historico { 
  background-color: $light-gray;
  
  .criatec-logos {
    
    span {
      margin: 0 0 10px 30px;
      float: right;
    }
  }
  
  .left { 
    width: 35%;
  }

  .right {
    width: 60%;
  }
}


// Empreendedor

#empreendedor,
#investidores {
  .right {
    img {
      width: 96%;
      padding: 2%;
      border: 1px solid #eee;
    }
  }
}

#empreendedor .right img {
  margin-top: 20px;
}

#investidores .right img {
  margin-top: -25px;
}


// Call To Action

#call-action {
  text-align: center;
  padding-bottom: 55px;

  h1 {
    margin-bottom: 25px;
  }

  a {
    font-size: 22px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    background-color: $gold;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0 30px;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 5px 0 0 #847c44;
    opacity: .9;

    &:hover {
      opacity: 1;
    }
  } // a
}


// Investor Info Box

.info-box {
  position: absolute;
  margin-left: 70px;
  max-width: 200px;
  margin-top: 80px;
  background-color: rgba(202,168,51,0.8);
  padding: 15px;
  color: #fff;
  display: none;
  
  p {
    margin: 10px 0 0 0;
  }
}

#t1:hover,
#t2:hover,
#t3:hover,
#t4:hover,
.criatec-logos span:hover {
  
  .info-box {
    display: block;
  }
}

ul.team li { 
  margin: 10px 8px;
  display: inline-block;
}

ul#list-item li {
  list-style: square;
  margin: 0 0 10px 30px;
}

/*-*/

.criatec-logos {
  margin-top: 15px;
}

.criatec-logos span {
  width: 125px;
  display: inline-block;
  margin: 0 10px 10px 10px;
}

.criatec-logos .info-box {
  margin-top: -60px;
  margin-left: 90px;
}


// Patrocinadores

#patrocinadores {
  background: #f9f9f9;
  text-align: center;
  padding: 20px 0;
  
  h2 {
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: normal;
    text-transform: uppercase;
    opacity: .4;
  }
  
  li {
    display: inline-block;
    margin: 5px;
  }
  
  a img {
    width: 150px;
  }
}


// Footer

footer {
  height: 70px;
  background-color: $blue;
  color: #fff;

  .main-nav {
    margin-top: 23px;
    float: left;

    li {
      font-size: 11px;
    }
    
    a {
      color: #fff;
      opacity: .7;
      
      &:hover {
        color: #fff;
        opacity: 1;
      }
    } // a
  }
}

.small {
  margin-top: 18px;
  text-align: right;
  float: right;
  font-size: 12px;
}

.menu-btn div {
  position: absolute;
  right: 100%;
  top: 64%;
  padding-right: 8px;
  margin-top: -0.50em;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 200;
  vertical-align: middle;
  z-index: 99;
}
 
.menu-btn span {
  display: block;
  width: 19px;
  height: 3px;
  margin: 4px 0;
  background: rgb(0,0,0);
  z-index: 99;
}
 
.expand {
  display: block !important;
  position: absolute;
  right: 50px;

  ul li {
    background: #fff;
    padding: 10px 15px;
    text-transform: uppercase;
    border: 1px solid #fafafa;

    a {
      text-transform: uppercase;
      color: $menu-color;

      &:hover{ 
        color: $gold;
        text-decoration: none;
        border-bottom: 2px solid $gold;
      }
    } // a
  }
}


// Internas

#internas {
  background: #f2f2f2;
  
  .headline {
    height: 70px;
    line-height: 70px;
    background: $medium-grey;
    margin: 75px 0 0 0;
    
    h1 {
      font-weight: bold;
      font-size: 24px;
      color: #fff;
    }
  }
  
  footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.contact-form {
  background: red;
}
