/**
 * Site header
 */
header, footer{
  .wrapper{ padding: 0 10px; }
}

header {
  border-top: 5px solid $blue;
  border-bottom: 2px solid $gold;
  min-height: 40px;
  padding: 20px 0;

  // Positioning context for the mobile navigation icon
  position: relative;
  ul{ float: right; }

  ul li {
    display: inline-block;
    margin-top: 10px;
    &:after{
      content: "|";
      margin: 0 6px;
    }
    &:last-child:after{ display: none;}
    a{
      text-transform: uppercase;
      color: $menu-color;
      &:hover{ 
        color: $gold;
        text-decoration: none;
        border-bottom: 2px solid $gold;
      }
    }
  }
}

.left, 
.right{
  width: 46%;
  display: block;
}
.right{ float:right; }
.left{ float:left; }

#o-que-e, 
#call-action {
  background-color: $blue;
  h1, h2, h3, p { color: #fff;}
}

#criatec{ background-color: $light-gray; }
#call-action{
  text-align: center;
  button{
    margin-top: 20px;
    font-size: 30px;
    color: #fff;
    background-color: $gold;
    border: 0;
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 10px 0px 0px #847c44;
    &:hover{ 
      background-color: #847c44;
    }
  }
}

.big-image{
  height: 550px;
  display: block;
  background: url("images/bg-slider.jpg") no-repeat;
  background-position: center center;
  background-size: 100% auto;
}

ul.team li{ 
  margin: 10px 8px;
  display: inline-block;
  .info-box{
    position: absolute;
    margin-left: 70px;
    max-width: 150px;
    margin-top: 80px;
    background-color: rgba(202,168,51,0.8);
    padding: 15px;
    color: #fff;
    display: none;
  }
  &#t1:hover,
  &#t2:hover,
  &#t3:hover,
  &#t4:hover{
    .info-box{ display: block; }
  }
}

ul#list-item li {
  list-style: square;
  margin: 0 0 15px 15px
}

footer{
  background-color: $blue;
  color: #fff;
  padding: 10px 5px;
  a{
    color: #fff;
    text-transform: uppercase;
    &:hover{
      color: $gold;
      border-bottom: 2px solid $gold;
      text-decoration: none;
    }
  }
  .right{
    text-align: right;
  }
  ul li{
    margin-bottom: 10px;
    display: inline-block;
    &:after{
      content: "|";
      margin: 0 1px;
    }
    &:last-child:after{ display: none;}
  }
}

.small{ font-size: 12px; }





