//responsive


@media (max-width: 960px) {
  
  .wrapper {
    width: 700px;
  }

  .big-image {
    height: 350px;
  }

  ul.original {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  #historico,
  #quem-somos {

    .left,
    .right {
      float: none;
      width: 100%;
    }
  }

}


@media only screen and (max-width: 686px) {
  
  .wrapper {
    width: 90%;
    padding: 0 5%;
  }

  header.default {
    height: auto !important;
    padding-bottom: 10px;
    opacity: 1;
    
    .logo {
      width: 120px;
      margin-top: 7px;
    }
  }
  
  #menu-trigger {
    font-size: 30px;
    font-weight: bold;
    display: block;
    position: absolute;
    right: 5%;
    top: -2px;
    cursor: pointer;
  }
  
  .main-nav {
    display: none;

    li {
      width: 100%;
      display: block;
      margin-bottom: 1px;

      &:after {
        display: none;
      }

      &:last-child:after {
        display: none;
      }

      a {
        display: block;
        height: 36px;
        line-height: 36px;
        background: $blue;
        text-transform: uppercase;
        color: #fff !important;
        padding: 0 8px;
        font-weight: bold;
      } // a
    }
  }

  .big-image {
    height: 180px;
  }


  // Empreendedor e investidores

  #empreendedor,
  #investidores {
    .right {
      img {
        margin-top: 20px;
      }
    }
  }

  .left,
  .right {
    float: none;
    width: 100%;
  }
  
  .criatec-logos {
    margin-top: 30px;
  }
  
  #call-action {
    h1 {
      font-size: 22px;
    }

    a {
      font-size: 14px;
    }
  }

  .team {
    margin-top: 30px;

    li {
      width: 100%;
      display: block;
      background: #f2f2f2;
      margin: 10px 0 0 0 !important;
      position: relative;
      padding: 15px 0;
      z-index: 100;
      
      img {
        width: 85px;
        margin-left: 20px;
      }
      
      .info-box {
        width: 100%;
        position: none !important;
        margin-left: 0;
        max-width: auto;
        margin-top: 0;
        display: block;
        top: 0;
        right: 0;
      }
    }
  }

  footer .left{ display: none;}
  .info-box, .criatec-logos .info-box {
    margin-top: -60px;
    margin-left: 10px;
  }
}
