//responsive


@media (max-width: 850px) {
  .big-image{
    height: 350px;
  }
  ul.original{ display: none;}
  .mobile-nav { display: block;}
  #historico, #quem-somos {
    .left, .right{
      float: none;
      width: 100%;
    }
  }
}


@media (max-width: 680px) {
  .big-image{
    height: 300px;
  }
  .left, .right{
    float: none;
    width: 100%;
  }
  #call-action{
    h1{ font-size: 22px;}
    a{ font-size: 14px; padding: 10px 15px;}
  }
  footer .left{ display: none;}
  .info-box, .criatec-logos .info-box {
    margin-top: -60px;
    margin-left: 10px;
  }
}

@media (max-width: 510px){
  .big-image{
    height: 100px;
  }
  .criatec-logos span{
    display: block;
    margin: 10px auto;
    width: 200px;
  }
}