<!DOCTYPE html>
<html>

  {% include head.html %}
  <script type="text/javascript">
    jQuery(function($){
      $( '.menu-btn' ).click(function(){
       $('.responsive-menu').addClass('expand')
      })
    
     $( '.help-close' ).click(function(){
       $('.responsive-menu').removeClass('expand')
       $('.menu-btn').removeClass('btn-none')
     })
    })

  </script>
  <body>
    <!-- SLIDER
    <script type="text/javascript">
        $(document).ready(function(){
        $('.bxslider').bxSlider();
      });
    </script>
    -->

    {% include header.html %}
    {{ content }}

    {% include footer.html %}

  </body>

</html>
